@use '../../scss/mixins';
@use '../../scss/vars';
@use '../../scss/reset';

.header {
    @include mixins.flex(row, space-between, center, 0px);
    padding: 48px 40px;
    width: 100%;
    &__title {
        @include mixins.Poppins(24px, 600, 130%);
    }
    &-container {
        @include mixins.flex(row, flex-start, center, 24px);
        &__link {
            @include mixins.Poppins(24px, 600, 135%);
            color: vars.$main-color;
        }
    }
}