$bg-color: #FFFFFF;
$main-color: #1A202C;
$secondary-color: #6C5FBC;
$third-color: #718096;
$hover-color: #FEFEFE;
$category-color1: #FFDE8A;
$category-color2: #EEBBAF;
$category-color3: #5A85FF;
$category-color4: #38AD68;
$input-color: #F5F5F5;